.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.idea/
.vscode/
*.iml
.DS_Store
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/

# أدوات محلية
/tool/.dart-sdk/

# ملفات مؤقتة على السيرفر
backend/.incoming/
backend/catalog.txt
